html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  position: realtive;
  background-color: #e6eeff;
}

.app__container {
  max-width: 1580px;
  height: 820px;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: auto;
}

.container {
  position: relative;
  height: 92%;
  border-bottom-left-radius: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-l {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  position: relative;
  width: 100%;
  height: 11%;
  border-bottom: 1px solid #cdcdcd;
}

.nav__logo {
  position: absolute;
  padding: 20px;
  left: 0;
}

.nav__logo img {
  width: 50px;
  height: 50px;
}

.sidebar {
  width: 90px;
  height: 97%;
  border-right: 1px solid #cdcdcd;
}

.sidebar__servers {
  padding-top: 10px;
  padding: 10px;
}

.sidebar__server {
  border-radius: 5px;
}

.sidebar__server img {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.sidebar__server:hover {
  cursor: pointer;
  background-color: #e2ebfc;
}

.lobby {
  position: relative;
  width: 300px;
  height: 97%;
  display: block;
  border-right: 1px solid #cdcdcd;
}

.lobby__info {
  padding: 25px;
  width: 300px;
  border-bottom: 1px solid #cdcdcd;
}

.lobby__img img {
  width: 120px;
  height: 120px;
}

.lobby__participant:hover {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: #e2ebfc;
}

.lobby__participant img {
  width: 20px;
  height: 20px;
}

.chat {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 97%;
  position: relative;
  overflow: auto;
}

.chat__messages {
  width: 100%;
  position: absolute;
  bottom: 100px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat__messages .chat__message {
  position: relative;
  margin-bottom: 20px;
  margin-right: 100px;
  background-color: #3b5bfe;
  text-align: right;
  border-radius: 15px;
  padding: 15px;
}

.other {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #bdc6f5 !important;
  text-align: left !important;
  left: 20px;
  margin-left: 100px;
}

.content__footer {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 30px;
}

.sendNewMessage {
  width: 650px;
  background-color: #e6eeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}

.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #4665ff;
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  -webkit-transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.sendNewMessage button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sendNewMessage button i {
  display: block;
}

.sendNewMessage input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}

#sendMsgBtn {
  background-color: #3b5bfe;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */